body {
  text-align: center;
}

#root {
  display: inline-block;
  text-align: initial;
  margin: 0 auto;
  width: 1024px;
}

h1, h2 {
  text-align: center;
}

.lalign {
  text-align: left;
}

.ralign {
  text-align: right;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

table {
  width: 100%;
}

.formInputItem {
  width: 125px;
}

.contentFit {
  margin: 0 auto;
  width: auto;
}

td.descCol {
  width: 33%;
  border: 1px solid black;
  padding: 1ex;
}

td.showtimes {
  width: 66%;
}

td.half {
  width: 50%;
}

.scheduleListItem {
  border: 1px solid black;
  margin-bottom: 3px;
}

.title{
  width: 80%;
}

.movieListEntry{
  border: solid 1px black;
  margin: 3px;
}
